
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #3a3939;
}
nav {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2; 
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #f4c542;
}

.logo {
    font-family: 'Playfair Display', serif;
    color: black;
    font-size: 1.8rem;
}

.hero-section {
    background: url('https://www.hdcarwallpapers.com/walls/porsche_911_gt3_rs_weissach_package_5k-HD.jpg') no-repeat center center/cover;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    overflow: hidden;
}

.hero-section .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6); 
    z-index: 1;
}

.hero-section .hero-content {
    z-index: 2;
    position: relative;
}

.hero-content h1 {
    font-size: 3rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.hero-content a {
    margin-top: 20px;
    padding: 10px 20px;
    background: #ff6600;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}


.models-section {
    padding: 50px 0;
}

.models-section .car-card {
    background: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.models-section .car-card:hover {
    transform: scale(1.05);
}

.car-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Footer */
footer {
    background: #222;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.social-icons a {
    color: white;
    margin: 0 10px;
    font-size: 1.5rem;
}
